.innocode-block-social-share {
	display: flex;
	align-items: center;
	line-height: 1;

	&__text {
		margin-right: 15px;
	}

	&__link {
		display: inline-block;
	    vertical-align: middle;
	    padding: 0.5em;
	}

	&__icon {
		display: block;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}
