.innocode-block-social-share {
	display: flex;
	align-items: center;
	line-height: 1;

	&__label {
		margin-right: 1em;
	}

	&__link {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		width: 2em;
		height: 2em;
		white-space: nowrap;

		svg {
			display: block;
			margin: 0.5em;
			width: 1em;
			height: 1em;
			fill: currentColor;
		}
	}
}
