.innocode-block-social-share {
	display: flex;
	align-items: center;
	line-height: 1;

	&__text {
		margin-right: 15px;
	}

	&__link {
		display: inline-block;
		padding: 0 10px;
	}

	&__icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		fill: currentColor;

		&--facebook {
			width: 0.625em;
		}

		&--linkedin {
			width: 0.875em;
		}

	}

}
